<div class="container">
    <header class="jumbotron">
      <p>Welcome on the CAFF PLACC.</p>
      <p>The number one safe place to download or upload CAFFs. Enjoy your time here. </p>
      </header>


    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Start here</h2>
            <p class="card-text">Start to search for placc-s. [Maybe some nice pictures here.]</p>
          </div>
          <div class="card-body text-center">
            <!--TODO: landing page redirecting-->
            <a href="" class="btn btn-dark">Click</a>
          </div>
        </div>
      </div>
    </div>
    

  </div>