<div class="jumbotron">
    <p>Here you can edit your personal informations: email address, username or your password.</p>
    <p>To edit your personal information just type the new credentials to the input boxes. If you would like to save the changes, click on the "Save changes" button at the bottom of the page. If you do not click on the button, your changes will not be saved.</p>
    <p>To delete your entire profile (and caffs also) click on DELETE PROFILE button. Pay attention! This step is irreversible.</p>
</div>

<div class="wrapper-button">
    <button class="btn btn-danger" type="submit" (click)="onDelete()">DELETE POFILE</button>
</div>
    
<div class="img-container">
    <img src="assets\images\user.jpg" style="width:128px;height:128px;" >
</div>



<div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label >Username</label>
                    <input type="text" formControlName="username" class="form-control" [placeholder]=user.username>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label >Email</label>
                    <input type="text" formControlName="email" class="form-control" [placeholder]=user.email >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label >New Password</label>
                    <input type="text" formControlName="password" class="form-control" placeholder="new password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                        <div *ngIf="f.password.errors?.pattern">The password must contain at least one upper and lower case character and a number and be 8 long</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label >Confirm new password</label>
                    <input type="text" formControlName="password2" class="form-control" placeholder="confirm new password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="f.password2.touched && f.password2.invalid" class="alert alert-danger">
                        <div *ngIf="f.password2.errors?.valueDifferentFrom">The confirm password must match the password</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="wrapper-button">
    <button class="btn btn-dark" type="submit" (click)="onSubmit()">Save changes</button>
</div>