<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/home" class="navbar-brand">CAFF PLACC</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/caffs" class="nav-link text-light" *ngIf="currentLoggedIn" routerLink="caffs">Caffs</a>
      </li>
    </ul>

    <div class="d-flex nav-item ">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
      <a class="nav-link text-light" type="submit" href='#' (click)="onSearch()">Search</a>
    </div>


    <ul class="navbar-nav ml-auto" *ngIf="!currentLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link text-light" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link text-light" routerLink="login">Login</a>
      </li>
    </ul>
    <ul  class="navbar-nav ml-auto" *ngIf="currentLoggedIn">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link text-light" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem routerLink="my-caffs" (click)="$event.preventDefault()">My animations</a>
          <a ngbDropdownItem routerLink="profile" (click)="$event.preventDefault()">Profile</a>
          <a *ngIf="isAdmin" ngbDropdownItem routerLink="admin" (click)="$event.preventDefault()">User-management</a>
          <a ngbDropdownItem href="#" (click)="logout($event)">Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>